<launch>

<!--=========================================================================-->
<!--  Arguements                                                             -->
<!--=========================================================================-->

  <arg name="local_physical" default="false"/>
  <arg name="local_simulated" default="true"/>
  <arg name="local_planner" default="true"/>

  <arg name="simulate_physical_robot" default="true"/>

  <arg name="local_simulated_ip" default="170.16.0.3"/>
  <arg name="local_planner_ip" default="170.16.0.4"/>

  <arg name="launch_rviz" default="true"/>
  <arg name="load_rviz_cfg" default="true"/>

<!--=========================================================================-->
<!--  Robot (All interfaces)                                                 -->
<!--=========================================================================-->

  <include file="$(find cobots_core)/launch/robot.launch">
    <arg name="local_physical" value="$(arg local_physical)"/>
    <arg name="local_simulated" value="$(arg local_simulated)"/>
    <arg name="local_planner" value="$(arg local_planner)"/>
    <arg name="simulate_physical_robot" value="$(arg simulate_physical_robot)"/>
    <arg name="local_simulated_ip" value="$(arg local_simulated_ip)"/>
    <arg name="local_planner_ip" value="$(arg local_planner_ip)"/>
  </include>

<!--=========================================================================-->
<!--  Application                                                            -->
<!--=========================================================================-->

  <include file="$(find cobots_core)/launch/app.launch">
    <arg name="app_filepath" value="$(find cobots_core)/"/>
    <arg name="ros_frame_id" value="world"/>
  </include>

  <!-- RVIZ -->
  <group if="$(arg launch_rviz)">
    <node if="$(arg load_rviz_cfg)" type="rviz" name="rviz" pkg="rviz" args="-d $(find cobots_tasks)/rviz/machine_tending.rviz"/>
    <node unless="$(arg load_rviz_cfg)" type="rviz" name="rviz" pkg="rviz"/>
  </group>

</launch>
