<launch>

  <arg name="simulate_physical_robot" default='true'/>
  <arg name="limited" default='false' />


  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find cobots_core)/description/physical_and_simulated_robot.xacro'" />

  <!-- Global State Publishers -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="true"/>
    <rosparam param="/source_list">[physical/joint_states,simulated/joint_states]</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

</launch>
