<launch>

  <arg name="launch_rviz" default="true"/>
  <arg name="load_rviz_cfg" default="true"/>

  <arg name="run_test_script" default="false"/>

  <arg name="enable_robot_drivers" default="true"/>

  <!-- Launch Robot Bringup -->
  <include file="$(find evd_ros_tasks)/launch/robot_bringup.launch">
    <arg name="simulate_physical_robot" value="$(arg enable_robot_drivers)"/>
    <arg name="active_physical" value="$(arg enable_robot_drivers)"/>
    <arg name="active_simulated" value="$(arg enable_robot_drivers)"/>
    <arg name="active_planner" value="$(arg enable_robot_drivers)"/>
  </include>

  <!-- System test code -->
  <node if="$(arg run_test_script)" name="test_robot_bringup" pkg="evd_ros_tasks" type="test_robot_bringup.py"/>

  <!-- RVIZ -->
  <include file="$(find evd_ros_tasks)/launch/_common/rviz.launch">
    <arg name="launch_rviz" value="$(arg launch_rviz)"/>
    <arg name="load_rviz_cfg" value="$(arg load_rviz_cfg)"/>
    <arg name="task_name" value="test_robot_bringup"/>
  </include>

</launch>
