<launch>

<!--=========================================================================-->
<!--  Arguements                                                             -->
<!--=========================================================================-->

  <arg name="run_robot" default="false"/>
  <arg name="simulate_physical_robot" default="true"/>

  <arg name="launch_rviz" default="true"/>
  <arg name="load_rviz_cfg" default="true"/>

<!--=========================================================================-->
<!--  Robot (All interfaces)                                                 -->
<!--=========================================================================-->

  <include file="$(find evd_ros_tasks)/launch/_common/ur3e.launch">
    <arg name="bringup" value="$(arg run_robot)"/>
    <arg name="simulate_physical_robot" value="$(arg simulate_physical_robot)"/>
    <arg name="robot_description_xacro" value="$(find evd_ros_tasks)/description/3d_printer_machine_tending.urdf.xacro"/>
  </include>

<!--=========================================================================-->
<!--  Application                                                            -->
<!--=========================================================================-->

  <!-- Core -->
  <include file="$(find evd_ros_core)/launch/app.launch">
    <arg name="config_path" value="$(find evd_ros_tasks)/config/"/>
    <arg name="config_file_name" value="ur3e_processor_config.json"/>
    <arg name="ros_frame_id" value="world"/>
  </include>

  <!-- RVIZ -->
  <include file="$(find evd_ros_tasks/launch/_common/rviz.launch">
    <arg name="launch_rviz" value="$(arg launch_rviz)"/>
    <arg name="load_rviz_cfg" value="$(arg load_rviz_cfg)"/>
    <arg name="task_name" value="3d_printer_machine_tending"/>
  </include>

  <!-- 3D Printer -->
  <node name="machine_3d_printer" type="3d_printer_machine.py" pkg="evd_ros_tasks" output="screen"/>

  <!-- Workcell -->
  <node name="workcell" type="register_ur3e_workcell.py" pkg="evd_ros_tasks" output="screen"/>

</launch>
