<launch>

  <arg name="task" default="machine_tending"/>
  <arg name="simulate_physical_robot" default="true"/>

  <include if="$(eval arg('task') == 'machine_tending')" file="$(find evd_ros_tasks)/launch/tasks/machine_tending.launch">
    <arg name="simulate_physical_robot" value="$(arg simulate_physical_robot)"/>
  </include>

</launch>
