<launch>

  <arg name="application_description_xacro" default="$(find evd_ros_tasks)/description/robot.urdf.xacro"/>
  <arg name="kinematics_config" default="$(find ur_description)/config/ur3_default.yaml"/>

  <arg name="display_joint_gui" default='true'/>

  <!-- Global State Publishers -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg application_description_xacro)' kinematics_config:=$(arg kinematics_config)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="$(arg display_joint_gui)"/>
    <param name="rate" value="25"/>
    <rosparam param="/source_list">[physical/joint_states_labeled,simulated/joint_states_labeled,planner/joint_states_labeled]</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

</launch>
