<launch>

  <arg name="launch_rviz" default="true"/>
  <arg name="load_rviz_cfg" default="true"/>

  <arg name="run_test_script" default="false"/>

  <arg name="enable_robot_drivers" default="true"/>

  <!-- Launch Robot Bringup -->
  <include file="$(find evd_ros_tasks)/launch/robot_bringup.launch">
    <arg name="simulate_physical_robot" value="$(arg enable_robot_drivers)"/>
    <arg name="active_physical" value="$(arg enable_robot_drivers)"/>
    <arg name="active_simulated" value="$(arg enable_robot_drivers)"/>
    <arg name="active_planner" value="$(arg enable_robot_drivers)"/>
  </include>

  <!-- System test code -->
  <node if="$(arg run_test_script)" name="test_robot_bringup" pkg="evd_ros_tasks" type="test_robot_bringup.py"/>

  <!-- RVIZ -->
  <group if="$(arg launch_rviz)">
    <node if="$(arg load_rviz_cfg)" type="rviz" name="rviz" pkg="rviz" args="-d $(find evd_ros_tasks)/rviz/machine_tending.rviz"/>
    <node unless="$(arg load_rviz_cfg)" type="rviz" name="rviz" pkg="rviz"/>
  </group>

</launch>
