<?xml version="1.0"?>
<robot name="environment" xmlns:xacro="http://ros.org/wiki/xacro">

  <material name="visual_env_mesh">
    <color rgba="${128/255} ${128/255} ${128/255} 1.0"/>
  </material>

  <!-- Common -->
  <link name="env_base" />

  <!-- Table -->
  <link name="table_link" type="fixed">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://evd_ros_tasks/description/meshes/visual/Table.stl"/>
      </geometry>
      <material name="visual_env_mesh"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://evd_ros_tasks/description/meshes/collision/Table.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="env_table_joint" type="fixed">
    <parent link="env_base" />
    <child link="table_link" />
    <origin xyz="0.0 0.36 -0.37" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- 3D Printer -->
  <link name="3d_printer_link" type="fixed">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://evd_ros_tasks/description/meshes/visual/MK2-Printer.stl"/>
      </geometry>
      <material name="visual_env_mesh"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://evd_ros_tasks/description/meshes/collision/MK2-Printer.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="env_3d_printer_joint" type="fixed">
    <parent link="env_base" />
    <child link="3d_printer_link" />
    <origin xyz="-0.28 0.32 0.3" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- Blade Conveyor -->
  <link name="blade_conveyor_link" type="fixed">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://evd_ros_tasks/description/meshes/visual/conveyor.stl"/>
      </geometry>
      <material name="visual_env_mesh"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://evd_ros_tasks/description/meshes/collision/conveyor.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="env_blade_conveyor_joint" type="fixed">
    <parent link="env_base" />
    <child link="blade_conveyor_link" />
    <origin xyz="-0.85 -0.25 -0.75" rpy="0.0 0.0 1.5707963" />
  </joint>

  <!-- Blade Feeder -->
  <link name="blade_feeder_link" type="fixed">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://evd_ros_tasks/description/meshes/visual/blade_feeder.stl"/>
      </geometry>
      <material name="visual_env_mesh"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://evd_ros_tasks/description/meshes/collision/blade_feeder.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="env_blade_feeder_joint" type="fixed">
    <parent link="env_base" />
    <child link="blade_feeder_link" />
    <origin xyz="-0.85 -0.25 -0.75" rpy="0.0 0.0 1.5707963" />
  </joint>

  <!-- Assembly Jig -->
  <link name="assembly_jig_link" type="fixed">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://evd_ros_tasks/description/meshes/visual/assembly_jig.stl"/>
      </geometry>
      <material name="visual_env_mesh"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://evd_ros_tasks/description/meshes/collision/assembly_jig.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="env_assembly_jig_joint" type="fixed">
    <parent link="env_base" />
    <child link="assembly_jig_link" />
    <origin xyz="0.2 0.28 0.14" rpy="0.0 1.5707963 1.5707963" />
  </joint>

  <!-- Knife Feeder -->
  <link name="knife_feeder_link" type="fixed">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://evd_ros_tasks/description/meshes/visual/knife_feeder.stl"/>
      </geometry>
      <material name="visual_env_mesh"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://evd_ros_tasks/description/meshes/collision/knife_feeder.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="env_knife_feeder_joint" type="fixed">
    <parent link="env_base" />
    <child link="knife_feeder_link" />
    <origin xyz="0.85 -0.25 -0.75" rpy="0.0 0.0 -1.5707963" />
  </joint>

  <!-- Knife Conveyor -->
  <link name="knife_conveyor_link" type="fixed">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://evd_ros_tasks/description/meshes/visual/conveyor.stl"/>
      </geometry>
      <material name="visual_env_mesh"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://evd_ros_tasks/description/meshes/collision/conveyor.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="env_knife_conveyor_joint" type="fixed">
    <parent link="env_base" />
    <child link="knife_conveyor_link" />
    <origin xyz="0.85 -0.25 -0.75" rpy="0.0 0.0 -1.5707963" />
  </joint>


</robot>
