<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="ros_frame_id"/>

  <arg name="run_program_pub" default="false" />
  <arg name="run_environment_pub" default="true" />
  <arg name="run_app_pub" default="false" />

  <node if="$(arg run_program_pub)" name="program_model_rviz_publisher" pkg="evd_ros_core" type="program_model_rviz_publisher.py" output="screen">
    <param name="ros_frame_id" value="$(arg ros_frame_id)"/>
  </node>

  <node if="$(arg run_environment_pub)" name="environment_model_rviz_publisher" pkg="evd_ros_core" type="environment_model_rviz_publisher.py" output="screen">
    <param name="ros_frame_id" value="$(arg ros_frame_id)"/>
  </node>

  <node if="$(arg run_app_pub)" name="application_model_control_publisher" pkg="evd_ros_core" type="application_model_control_publisher.py" output="screen">
    <param name="ros_frame_id" value="$(arg ros_frame_id)"/>
  </node>

</launch>
