<launch>

  <arg name="app_filepath"/>
  <arg name="ros_frame_id"/>

  <node name="collision_grader" pkg="evd_ros_core" type="collision_grader.py" output="screen">
    <param name="app_filepath" value="$(arg app_filepath)"/>
  </node>

  <node name="pinchpoint_grader" pkg="evd_ros_core" type="pinchpoint_grader.py" output="screen">

  </node>

  <node name="occupancy_grader" pkg="evd_ros_core" type="occupancy_grader.py" output="screen">

  </node>

  <node name="performance_grader" pkg="evd_ros_core" type="performance_grader.py" output="screen">

  </node>

</launch>
