<launch>

  <arg name="launch_rviz" default="true"/>
  <arg name="load_rviz_cfg" default="true"/>
  <arg name="task_name" default="3d_printer_machine_tending"/>

  <group if="$(arg launch_rviz)">
    <node if="$(arg load_rviz_cfg)" type="rviz" name="rviz" pkg="rviz" args="-d $(find evd_ros_tasks)/rviz/$(arg task_name).rviz"/>
    <node unless="$(arg load_rviz_cfg)" type="rviz" name="rviz" pkg="rviz"/>
  </group>

</launch>
