<launch>

    <!-- Launch Robot Bringup -->
    <include file="$(find evd_ros_tasks)/launch/_common/ur3e.launch">
      <arg name="bringup_physical_robot" value="false"/>
      <arg name="simulate_physical_robot" value="false"/>
      <arg name="robot_description_xacro" value="$(find evd_ros_tasks)/description/ur3e.urdf.xacro"/>
    </include>

    <node name="capture_gripper_tfs" pkg="evd_ros_tasks" type="capture_gripper_tfs.py">

    <!-- RVIZ -->
    <include file="$(find evd_ros_tasks)/launch/_common/rviz.launch">
        <arg name="launch_rviz" value="$(arg launch_rviz)"/>
        <arg name="load_rviz_cfg" value="$(arg load_rviz_cfg)"/>
        <arg name="task_name" value="test_robot_bringup"/>
    </include>

</launch>