<!-- Don't need to use this file directly, use the calibration_camera. -->
<!-- This file is intended to be timed-roslaunched after camera is setup -->

<launch>

  <arg name="size" default="8x6"/>
  <arg name="square" default="0.025"/>
  <arg name="image" default="/usb_cam/image_raw"/>
  <arg name="camera" default="/usb_cam"/>

  <node name="calibrator" pkg="camera_calibration" type="cameracalibrator.py" args="--size $(arg size) --square $(arg square) image:=$(arg image) camera:=$(arg camera)" output="screen"/>

</launch>
