<launch>

<!--=========================================================================-->
<!--  Arguements                                                             -->
<!--=========================================================================-->

  <arg name="simulate_physical_robot" default="true"/>
  <arg name="use_cnc_serial_interface" default="false"/>
  <arg name="load_rviz_cfg" default="true"/>

<!--=========================================================================-->
<!--  CNC Device                                                             -->
<!--=========================================================================-->

  <group if="$(arg use_cnc_serial_interface)">

    <arg name="port" default="/dev/ttyACM0"/>
    <arg name="baud" value="57600"/>


    <node name="serial_bridge" pkg="rosserial_python" type="serial_node.py" output="screen">
      <param name="port" value="$(arg port)"/>
      <param name="baud" value="$(arg baud)"/>
    </node>

    <node name="fake_cnc_socket" pkg="cobots_tasks" type="fake_cnc.py"  output="screen">
      <param name="rate" value="10"/>
    </node>

  </group>

<!--=========================================================================-->
<!--  POP Button                                                             -->
<!--=========================================================================-->

<!--=========================================================================-->
<!--  Robot (Physical and Simulated)                                         -->
<!--=========================================================================-->

  <include file="$(find cobots_tasks)/launch/robot.launch">
    <arg name="simulate_physical_robot" value="$(arg simulate_physical_robot)"/>
  </include>

<!--=========================================================================-->
<!--  Cobots Core                                                            -->
<!--=========================================================================-->

  <include file="$(find cobots_core)/launch/main.launch">
    <!--TODO-->
  </include>

  <!-- RVIZ -->
  <node if="$(arg load_rviz_cfg)" type="rviz" name="rviz" pkg="rviz" args="-d $(find cobots_core)/rviz/ur3e.rviz"/>
  <node unless="$(arg load_rviz_cfg)" type="rviz" name="rviz" pkg="rviz"/>

</launch>
