<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:arg name="kinematics_config" default="$(find ur_description)/config/ur3e_default.yaml"/>

	<!-- robot_common -->
	<link name="robot_common" />

	<!-- UR3e Physical -->
	<xacro:include filename="$(find ur_description)/urdf/ur3e.xacro" />
	<joint name="physical_common_joint" type="fixed">
		<parent link="robot_common" />
		<child link = "physical_base_link" />
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
	</joint>
	<xacro:ur3e_robot prefix="physical_"
  />

	<!-- Robotiq 85 Physical -->
	<xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />
	<xacro:robotiq_85_gripper prefix="physical_" parent="physical_tool0">
		<origin xyz="0 0 0" rpy="${pi/2} -${pi/2} 0" />
	</xacro:robotiq_85_gripper>

  <!-- UR3e Simulated -->
	<xacro:include filename="$(find ur_description)/urdf/ur3e.xacro" />
	<joint name="simulated_common_joint" type="fixed">
		<parent link="robot_common" />
		<child link = "simulated_base_link" />
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
	</joint>
	<xacro:ur3e_robot prefix="simulated_"
  />

  <!-- Robotiq 85 Simulated -->
	<xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />
	<xacro:robotiq_85_gripper prefix="simulated_" parent="simulated_tool0">
		<origin xyz="0 0 0" rpy="${pi/2} -${pi/2} 0" />
	</xacro:robotiq_85_gripper>

	<!-- UR3e Planner -->
	<xacro:include filename="$(find ur_description)/urdf/ur3e.xacro" />
	<joint name="planner_world_joint" type="fixed">
		<parent link="robot_common" />
		<child link = "planner_base_link" />
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
	</joint>
	<xacro:ur3e_robot prefix="planner_"
  />

	<!-- Robotiq 85 Planner -->
	<xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />
	<xacro:robotiq_85_gripper prefix="planner_" parent="planner_tool0">
		<origin xyz="0 0 0" rpy="${pi/2} -${pi/2} 0" />
	</xacro:robotiq_85_gripper>

</robot>
