<launch>

<!--=========================================================================-->
<!--  Arguements                                                             -->
<!--=========================================================================-->

  <arg name="bringup_physical_robot" default="false"/>
  <arg name="simulate_physical_robot" default="false"/>

  <arg name="launch_rviz" default="true"/>
  <arg name="load_rviz_cfg" default="true"/>

  <arg name="run_test" default="false"/>
  <arg name="bullet_gui" default="true"/>

<!--=========================================================================-->
<!--  Robot                                                                  -->
<!--=========================================================================-->

  <include file="$(find evd_ros_tasks)/launch/_common/ur3e.launch">
    <arg name="bringup_physical_robot" value="$(arg bringup_physical_robot)"/>
    <arg name="simulate_physical_robot" value="$(arg simulate_physical_robot)"/>
    <arg name="robot_description_xacro" value="$(find evd_ros_tasks)/description/full_task.urdf.xacro"/>
  </include>

<!--=========================================================================-->
<!--  Application                                                            -->
<!--=========================================================================-->

  <!-- Core -->
  <include file="$(find evd_ros_core)/launch/app.launch">
    <arg name="config_path" value="$(find evd_ros_tasks)/config/"/>
    <arg name="config_file_name" value="model.json"/>
    <arg name="ros_frame_id" value="world"/>
    <arg name="run_test" value="$(arg run_test)"/>
    <arg name="bullet_gui" value="$(arg bullet_gui)"/>
  </include>

  <!-- RVIZ -->
  <include file="$(find evd_ros_tasks)/launch/_common/rviz.launch">
    <arg name="launch_rviz" value="$(arg launch_rviz)"/>
    <arg name="load_rviz_cfg" value="$(arg load_rviz_cfg)"/>
    <arg name="task_name" value="3d_printer_machine_tending"/>
  </include>

  <!-- Workcell -->
  <node name="register_static_workcell" type="register_static_workcell.py" pkg="evd_ros_tasks">
    <param name="debug" value="$(arg run_test)"/>
  </node>

  <!-- Blade Conveyor -->
  <node name="blade_conveyor_machine" type="blade_conveyor_machine.py" pkg="evd_ros_tasks"/>
  
  <!-- Blade Feeder -->
  <node name="blade_feeder_machine" type="blade_feeder_machine.py" pkg="evd_ros_tasks"/>
  
  <!-- 3D Printer -->
  <node name="three_d_printer_machine" type="3d_printer_machine.py" pkg="evd_ros_tasks"/>
  
  <!-- Assembly Jig -->
  <node name="assembly_jig_machine" type="assembly_jig_machine.py" pkg="evd_ros_tasks"/>

  <!-- Knife Feeder -->
  <node name="knife_feeder_machine" type="knife_feeder_machine.py" pkg="evd_ros_tasks"/>
  
  <!-- Knife Conveyor -->
  <node name="knife_conveyor_machine" type="knife_conveyor_machine.py" pkg="evd_ros_tasks"/>
  
</launch>
