<launch>

<!--=========================================================================-->
<!--  Arguements                                                             -->
<!--=========================================================================-->

  <arg name="simulate_physical_robot" default="true"/>

  <arg name="launch_rviz" default="true"/>
  <arg name="load_rviz_cfg" default="true"/>

  <arg name="run_robot" default="false"/>

<!--=========================================================================-->
<!--  Robot (All interfaces)                                                 -->
<!--=========================================================================-->

  <group if="$(arg run_robot)">
    <include file="$(find evd_ros_tasks)/launch/robot_bringup.launch">
      <arg name="simulate_physical_robot" value="$(arg simulate_physical_robot)"/>
      <arg name="application_description_xacro" value="$(find evd_ros_tasks)/description/3d_printer_machine_tending.urdf.xacro"/>
    </include>
  </group>
  <group unless="$(arg run_robot)">
    <include file="$(find evd_ros_tasks)/launch/robot_no_bringup.launch">
      <arg name="application_description_xacro" value="$(find evd_ros_tasks)/description/3d_printer_machine_tending.urdf.xacro"/>
    </include>
  </group>

<!--=========================================================================-->
<!--  Application                                                            -->
<!--=========================================================================-->

  <!-- Core -->
  <include file="$(find evd_ros_core)/launch/app.launch">
    <arg name="app_filepath" value="$(find evd_ros_tasks)/tasks/3d_printer_machine_tending"/>
    <arg name="ros_frame_id" value="world"/>
  </include>

  <!-- RVIZ -->
  <group if="$(arg launch_rviz)">
    <node if="$(arg load_rviz_cfg)" type="rviz" name="rviz" pkg="rviz" args="-d $(find evd_ros_tasks)/rviz/3d_printer_machine_tending.rviz"/>
    <node unless="$(arg load_rviz_cfg)" type="rviz" name="rviz" pkg="rviz"/>
  </group>

  <!-- 3D Printer -->
  <node name="physical_printer" type="3d_printer_machine.py" pkg="evd_ros_tasks" output="screen">
    <param name="prefix" value="physical"/>
  </node>

  <node name="simulated_printer" type="3d_printer_machine.py" pkg="evd_ros_tasks" output="screen">
    <param name="prefix" value="simulated"/>
  </node>

</launch>
