<launch>

    <arg name="launch_rviz" default="true"/>
    <arg name="load_rviz_cfg" default="true"/>

    <arg name="application_description_xacro" default="$(find evd_ros_tasks)/description/robot.urdf.xacro"/>
    <arg name="kinematics_config" default="$(find ur_description)/config/ur3_default.yaml"/>

    <node name="pose_marker" pkg="evd_ros_pybullet_bringup" type="pose_marker.py" output="screen"/>

    <node name="lively_demo" pkg="evd_ros_pybullet_bringup" type="lively_demo.py" output="screen">
        <param name="config_file" value="$(find evd_ros_pybullet_bringup)/description/ur3e_config_v1.json"/>
    </node> 

    <param name="robot_description" command="$(find xacro)/xacro '$(arg application_description_xacro)' kinematics_config:=$(arg kinematics_config)"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="rate" value="25"/>
        <rosparam param="/source_list">[lively_tk/result_joints]</rosparam>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

    <node if="$(arg load_rviz_cfg)" type="rviz" name="rviz" pkg="rviz" args="-d $(find evd_ros_tasks)/rviz/3d_printer_machine_tending.rviz"/>

</launch>